@import url('https://fonts.cdnfonts.com/css/apple-garamond');

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}


.headerContainer {
  color: #F4DFC8;
  font-family: 'Apple Garamond', sans-serif;
  font-size: 50px;
}

.headerContainer h2 {
  font-size: 35px;
}







